/* styles */
body {
    min-height:100vh;
    position: relative;
    margin: 0;
    background-image: url(./img/photo-collage/bg\ colour.png);
    background-position: center;
    background-size: cover;
    display: flex;
}
.bg{
    mix-blend-mode: multiply;
    width: auto;
    max-width: 100%;
height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.paper{
    width: 100%;
    height: auto;
    position: relative;
    padding: 8rem 0;
}
audio{
    display: none;
}
/* Edit mouse */
#magicMouseCursor {
    display: none;
    z-index: 999;
}

body #magicPointer {
    z-index: 999;

}

body #magicPointer:not(.pointer-overlay) {
    background: #dc682f !important;
    height: 15px !important;
    width: 15px !important;

}