/* styles */
body {
    height: 100%;
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/backgroud.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mobile {
    display: block;
}

.bg:not(.mobile),
.paper:not(.mobile),
.tape:not(.mobile) {
    display: none;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    
}

.paper {
    height: auto;
    width: 100%;
    position: relative;
}

.tape:not(.mobile) {
    position: absolute;
    top: 13%;
    right: 8%;
    mix-blend-mode: multiply;
    width: 55%;
}
.tape.mobile{
    position: absolute;
    top: 6%;
    right: 11%;
    mix-blend-mode: multiply;
    width: 75%;
}

video {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    transform: rotate(270deg);
}

/* Edit mouse */
#magicMouseCursor {
    display: none;
    z-index: 999;
}

body #magicPointer {
    z-index: 999;

}

body #magicPointer:not(.pointer-overlay) {
    height: 0px !important;
    width: 0px !important;
    border-radius: 0 !important;
    background: transparent !important;
    border-left: 25px solid #dc682f;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    transition: none;

}

body #magicPointer:not(.pointer-overlay).pause {
    height: 25px !important;
    width: 5px !important;
    border-radius: 0 !important;
    background: transparent !important;
    border-left: 5px solid #dc682f;
    border-bottom: none;
    border-top: none;
    border-right: 5px solid #dc682f;
    transition: none;
}

/* Media queries */

@media (min-width: 576px) {}

@media (min-width: 768px) {

    .bg.mobile,
    .paper.mobile,
    .tape.mobile{
        display: none;
    }

    .bg:not(.mobile),
    .paper:not(.mobile),
    .tape:not(.mobile) {
        display: block;
    }
    video {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(0deg);

    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}